:root {
    --color1: #141c3a;
    --color2: #7510F7;
}

html, body, #root {
    overflow-x: hidden;

    width: 100vw;
    max-width: 100vw;
    top: 0;
    left: 0;
    
    background: none;
    font-family: 'Open Sans', sans-serif;
}